html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body { font-family: 'latoregular'; font-size:14px; background:#f5f5f5;  transition: 1s;}
a, a:hover, a:focus, button:focus{ outline:0; text-decoration:none;}


.login_sec{ background:url(../images/login-bg.jpg) no-repeat center; background-size: cover; position: fixed; width: 100%; height: 100%; left: 0; top: 0; overflow-y: auto;}
.login_container{ padding:30px; margin: 0px auto; max-width: 500px;}
.login_logo{ margin-top:30px; text-align: center;}
.login_sec h5{ font-size:20px; color: #c4c9e3; text-align: center; margin: 10px 0px 30px 0px; font-family: 'latosemibold';}
.login_sec .form-group{ position:relative; margin-bottom: 30px;}
.login_sec .form-group span{ width:60px; height: 60px; line-height: 60px; text-align: center; background: #ff4081; position: absolute; top:0; left: 0; border-radius: 50%;}
.login_sec .form-group span img{ max-height:30px;}
.login_sec .form-group .form-control{ font-size: 18px; font-family: 'latosemibold'; height:60px; border-radius: 30px; border: 0; background-color: #fff; padding-left: 75px; color: #000; box-shadow: none;}
.login_sec .login_submit{ cursor: pointer; width: 100%; border: 0; border-radius: 30px; letter-spacing: 1px; text-transform: uppercase; font-size: 18px; font-family: 'latosemibold'; color: #fff; height: 60px; line-height: 60px; text-align: center; background: #ff4081;}
.login_sec p{ text-align:center; margin: 30px 0px; letter-spacing: 1px; text-transform: uppercase; font-size: 18px; font-family: 'latosemibold';}
.login_sec p a{ color:#fff;}
.divider{ text-align:center; position: relative;}
.divider span{ width:50px; display: inline-block; color: #fff; text-transform: uppercase; letter-spacing: 1px;font-family: 'latosemibold'; }
.divider:before, .divider:after{ content:""; position: absolute; background: #8a97df; height: 2px; width: calc(50% - 25px); right: 0; top: 10px;}
.divider:after{ left: 0; right: auto;}
.login_social{ margin:30px 0px 0px 10px;}
.login_social a{ display:inline-block; width: 46%; height: 60px; line-height: 60px; border-radius: 30px; font-size: 18px; font-family: 'latobold'; color: #fff; padding: 0px 20px;}
.login_social a .fab{ font-size:24px; margin-right: 8px;}
.login_social a.google{ background:#aa002c; margin-right: 6%;}
.login_social a.facebook{ background:#09155a;}

.top_bar{ height:70px; background: #283593; position: relative; z-index: 1;}
.menu_bar{ float: left; width:34px; cursor: pointer; margin-top: 24px;}
.menu_bar span{ display:block; width: 100%; height: 3px; background: #fff; margin-bottom: 7px;}
.menu_bar span:last-child{ margin-bottom:0px;}
.top_bar .logo{ float:left; margin-left: 20px; line-height: 70px;}
.top_bar .logo span{ font-size:26px; color: #fff; font-family: 'futura_ltregular';}
.top_bar .logo img{ height:30px;}
.top_bar .cart, .top_bar .search{ float:right; line-height: 70px;}
.top_bar .cart img, .top_bar .search img{ height:25px;}

.menu_section{ width: 90%; max-width: 360px; background: #fff; height: 100%; overflow-y: auto; position:fixed; left: -2000px; top: 0; z-index: 1000; transition: 0.4s;}
.menu_section .user_desc{ background:#3f51b5; padding: 25px; color: #fff;}
.menu_section .user_desc img{ width:60px; height: 60px; float: left; border-radius: 50%;}
.menu_section .user_desc h4{ padding-left: 75px; font-size:18px; font-family: 'latobold'; text-transform: uppercase; margin: 5px 0px 3px 0px;}
.menu_section .user_desc p{ padding-left: 75px; font-size:16px; font-family: 'latosemibold';}
.menu_section ul{ padding:15px 25px;}
.menu_section ul li{ padding:18px 0px;}
.menu_section ul li a{ display:block; color: #333; font-size: 17px; padding-left: 60px; position: relative;}
.menu_section ul li a img{ max-width:28px; max-height: 28px; position: absolute; top: 0; left: 0;}
.body_overlay{ width: 100%; background: rgba(0,0,0,0.7); height: 100%; position:fixed; left: -2000px; top: 0; z-index: 999;}
.menu_section.show, .body_overlay.show{ left:0px;}
.breadcumb{background: #3f51b5; box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); position: relative;}
.breadcumb h3{ padding:20px 0px; text-align:center; color: #fff; font-size: 22px; font-family: 'latosemibold';}

.main_content{ padding: 30px 0px;}
.white_bg{ background:#fff;}
.panel_box{ background:#fff; border: 1px solid #ddd; border-radius: 4px; padding: 15px; position: relative;}
.signup_box{ margin-bottom:30px;}
.signup_box h3{ font-size:24px; font-family: 'latobold'; color: #333; margin: 10px 0px;}
.signup_box p{ font-size:18px; color: #666; margin-bottom: 10px;}
.signup_follow p{ font-size:16px; font-family: 'latosemibold'; color: #666; margin-bottom: 30px;}
.signup_follow ul li{ margin-bottom:25px; position: relative; line-height: 34px; font-size:18px; font-family: 'latobold'; color: #333; padding-left: 55px;}
.signup_follow ul li span{ position: absolute; top: 0; left: 0;}
.signup_follow ul li span img{ max-width:34px; max-height: 34px;}
.submit_btn{ display:inline-block; background: #ff4081; color: #fff; font-size: 16px; font-family: 'latosemibold'; padding: 12px 30px; border: 0; border-radius: 4px; text-transform: uppercase;}
.submit_btn:hover, .submit_btn:focus { background: #ff4081; color: #fff;}
.form_item{ margin-bottom:10px;}
.form_item label{ display: block;font-size: 16px; font-family: 'latosemibold'; color: #666; margin: 5px 0px;}
.form_item .form-control{ box-shadow:none; height: 50px !important; border-radius: 4px; border: 1px solid #ddd; font-size: 15px;}
.form_item textarea.form-control{ height:100px !important;}
.form_item .form-control::placeholder { color: #999;}
.form_item .form-control:-ms-input-placeholder{ color: #999;}
label.radio_box{ display:inline-block; position: relative; padding:0px 0px 0px 25px; cursor: pointer;}
.form_item  label.radio_box{ margin-right: 25px;}
.form_item label.radio_box:last-child{ margin-right:0px;}
label.radio_box input{ position:absolute; visibility: hidden;}
label.radio_box span{ font-size: 15px; font-family: 'latosemibold'; color: #333;}
label.radio_box span:before{ content:""; width:18px; height: 18px; border: 2px solid #3f51b5; border-radius: 50%; position: absolute; top: 3px; left: 0;}
label.radio_box input[type="radio"]:checked + span:after{ content:""; width:8px; height: 8px; background: #3f51b5; border-radius: 50%; position: absolute; top: 8px; left: 5px;}
.registration_status{ text-align:center; margin-bottom: 15px;}
.registration_status .icon{ display: inline-block; width:85px; height:85px; line-height: 85px; text-align: center; border-radius: 50%; background: #3f51b5; border: 2px solid #fff; margin: 15px 0px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);}
.registration_status .icon img{ max-height:36px; max-width:36px;}
.registration_status h4{ font-size: 20px; font-family: 'latosemibold'; color: #333; margin-bottom: 20px;}
.registration_status .progress{ background-color: #e8cfd7; border-radius: 4px; height: 10px; overflow: visible; position: relative; margin-top: 50px; margin-bottom: 20px;}
.registration_status .progress-bar{ background-color: #ff4081;  border-radius: 4px;}
.registration_status .progress-bar span{ color:#666; font-size: 14px; position: absolute; top: -25px; left: 0;}
.regs_item{ position:relative; border-bottom: 1px solid #ddd; padding: 20px 80px 20px 60px;}
.regs_item:last-child{ border-bottom:0px;}
.regs_item img{ max-width: 36px; max-height: 36px; position:absolute; left: 0; top: 25px; }
.regs_item h4{font-size: 18px; font-family: 'latobold'; color: #333;}
.regs_item p{ font-size:14px; color: #808080;}
.regs_item a{position: absolute; right: 0; top: 20px;}
.regs_item a .fa{ margin-right:5px;}
.regs_item .add_btn{ height:36px; line-height: 36px; background: #ff4081; padding: 0px 20px; border-radius: 20px; color: #fff; font-size: 13px;}
.regs_item .edit_btn{ height:34px; line-height: 34px; border:1px solid #ff4081; padding: 0px 20px; border-radius: 20px; color: #ff4081; font-size: 13px;}

.title_main{ color:#212121; font-size: 24px; font-family: 'latobold'; margin-bottom: 15px;}
.funds_section{ margin-bottom: 30px !important; flex-wrap: nowrap; overflow-y: auto; -ms-overflow-style: none; overflow: -moz-scrollbars-none;}
.funds_section::-webkit-scrollbar { display: none;}
.fund_item{ width: 140px; padding: 0px 10px; display: inline-block; margin: 20px 0px; text-align: center; }
.fund_item a{ display:block;}
.fund_item .icon{ display: inline-block; width:100px; height:100px; line-height: 100px; text-align: center; border-radius: 50%; background: #3f51b5; border: 2px solid #fff; margin: 0px 10px 15px 10px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);}
.fund_item .icon img{ max-height:48px; max-width:48px;}
.fund_item h4{ font-size:16px; color: #ff4081; font-family: 'latosemibold';}
.plan_section{ margin:0px -15px; background: #fff; padding: 0px 15px;}
.plan_item{ padding-left:70px; position:relative;}
.plan_item img{ position:absolute; top: 15px; left: 0; max-width: 42px; max-height: 42px;}
.plan_item a{ display:block; padding: 15px 0px; border-bottom: 1px solid #ddd; position: relative; padding-right: 15px;}
.plan_item a:before{ content:"\f105"; font-family:FontAwesome; color:#8f8f8f; font-size:30px; position: absolute; top: 22px; right:0px;}
.plan_item h4{ font-size:18px; color: #333; font-family: 'latobold';}
.plan_item p{ font-size:14px; color: #333;}
.plan_item:last-child a{ border-bottom:0px;}

.imageupload .file-tab{ width:80px; height:80px; position: relative; background-image: url(../images/picture.png); background-repeat: no-repeat; background-size: cover; border-radius: 10px; margin-bottom: 5px;}
.imageupload .btn-file { overflow: hidden;  position: relative; background: #3f51b5; color: #fff; position: absolute; top: 0px; left: 100%;  margin-left: 15px; font-size: 13px; padding: 7px 20px;}
.imageupload .btn-file .fa{ margin-right:4px;}
.imageupload .btn-file input[type="file"] { cursor: inherit; display: block; font-size: 100px; min-height: 100%; min-width: 100%; opacity: 0;  position: absolute; right: 0; text-align: right; top: 0;}
.imageupload .file-tab button { display: none; background: #ff4081; color: #fff; position: absolute; bottom: 0px; left: 100%;  margin-left: 15px; font-size: 13px; padding: 7px 20px;}
.imageupload .file-tab button .fa{ margin-right:4px;}
.imageupload .file-tab .thumbnail { width:80px; height: 80px; padding: 5px; background-color: #ccc; border-radius: 10px;}
.imageupload .url-tab { display: none;}
.imageupload .url-tab .thumbnail { margin: 10px 0;}

.funds_list li{ padding-bottom:15px; margin-bottom: 15px; border-bottom: 1px solid #ddd; position: relative;}
.funds_list li:last-child {border-bottom:0px; margin-bottom: 0; padding-bottom: 0;}
.funds_list li .fund_logo{ width: 100%; padding: 5px; border: 1px solid #ddd; border-radius: 4px;}
.funds_list li h3{ font-size:17px; font-family: 'latobold'; margin-bottom: 7px; line-height: 20px;}
.funds_list li h3 a{ color:#333;}
.funds_list li p{ font-size:13px; font-family: 'latobold'; color: #333;}
.funds_list li p span{ color: #666; font-family: 'latoregular';}
.funds_list li p span.price{ color:#ff4081}
.funds_list li .add_cart_btn{ position:absolute; bottom: 0px; right: 15px; background: #ff4081; border-radius: 10px; padding: 5px 10px;}
.funds_list li .add_cart_btn img{ height:26px;}
.funds_list li .btn_sec{ margin-top:10px;}
.funds_list li .btn_sec a{ margin-right:5px;}
.raplace_btn{ display:inline-block; height: 34px; line-height: 34px; font-size: 13px; border:1px solid #3f51b5; color: #3f51b5; border-radius: 4px; padding: 0px 25px;}
.raplace_btn .fa{ margin-right:3px;}
.raplace_btn:hover{ background: #3f51b5; color: #fff;}
.del_btn{ display:inline-block; height: 34px; line-height: 34px; font-size: 13px; border:1px solid #ff4081; color: #ff4081; border-radius: 4px; padding: 0px 25px;}
.del_btn .fa{ margin-right:3px;}
.del_btn:hover{ background: #ff4081; color: #fff;}
.fund_rating{ height:15px; position: relative; margin-bottom: 7px; background: url(../images/star-review.png) no-repeat; background-size: 110px;}
.fund_rating.star5{ background-position: -8px 0px;}
.fund_rating.star4{ background-position: -8px -19px;}
.fund_rating.star3{ background-position: -8px -38px;}
.fund_rating.star2{ background-position: -8px -57px;}
.fund_rating.star1{ background-position: -8px -76px;}
.fund_rating.star0{ background-position: -8px -95px;}
.funds_list li .status{ color:#0073cf; font-size: 13px; position: absolute; right: 0px; top: 0px;}
.add_cart_top{ text-align:center; padding-bottom: 25px;}
.add_cart_top a{ display:inline-block; height: 48px; line-height: 48px; padding: 0px 30px; border-radius: 24px; background: #ff4081; color: #fff; font-size:16px; font-family: 'latosemibold';}
.add_cart_top a img{ margin-right:5px; height: 26px;}
.details_listing{ padding: 0px 10px; margin-bottom: 15px;}
ul.details_listing li{ display: flex; flex-wrap: wrap; padding:12px 0px; border-bottom: 1px solid #ddd;}
ul.details_listing li:last-child{ border-bottom:0px;}
ul.details_listing li h5{ width: 100%; color:#222; font-size:15px; font-family: 'latobold'; margin-bottom: 5px;}
ul.details_listing li p{ width: 100%;}
ul.details_listing li table{ margin-bottom:0px;}
ul.details_listing li table th, ul.details_listing li table td{ border:0; padding:0px;}
ul.details_listing li table th{color:#222; font-size:15px; font-family: 'latobold'; padding-bottom: 5px;}
.disclaim_btn{ display:inline-block; background: #ff4081; color: #fff; font-size: 14px; padding: 10px 30px; border: 0; border-radius: 4px;}
.disclaim_btn:hover, .disclaim_btn:focus { background: #ff4081; color: #fff;}
.category_all{ margin:0px -8px;}
.category_item{ height:100px; border-radius: 4px; text-align: center; padding: 0px 10px; margin-bottom: 15px; display: flex; align-items: center;}
.category_item span{ width: 100%; font-size:22px; font-family: 'latosemibold'; color: #fff;}
.category_all .col-6{ padding:0px 8px;}
.category_all .col-6:nth-child(1) .category_item{ background: #ef984b;}
.category_all .col-6:nth-child(2) .category_item{ background: #e571c8;}
.category_all .col-6:nth-child(3) .category_item{ background: #34b6e5;}
.category_all .col-6:nth-child(4) .category_item{ background: #b6a76d;}
.category_all .col-6:nth-child(5) .category_item{ background: #81bb5a;}
.category_all .col-6:nth-child(6) .category_item{ background: #b1a0a4;}
.custom_tab.nav{ display: block; text-align: center; white-space: nowrap; overflow-y: auto; border-bottom: 0px; -ms-overflow-style: none; overflow: -moz-scrollbars-none;}
.custom_tab.nav::-webkit-scrollbar { display: none;}
.custom_tab.nav a{ display:inline-block; padding:10px 30px; border-bottom: 4px solid transparent; color: #bbc1e0; font-size: 18px; font-family: 'latomedium';}
.custom_tab.nav a.active{ color: #fff; border-bottom: 4px solid #fff;}

.want_invest .explain_icon{ width:24px; height: 24px; line-height: 24px; text-align: center; border-radius: 50%; border: 1px solid #8e8e8e; color: #8e8e8e; position: absolute; top: 15px; right: 15px;}
.want_invest p{ color: #666; margin-bottom: 10px;}
.want_invest label.radio_box{ display:block; margin-top: 10px;}
.want_invest .form-group{ position:relative; margin: 25px 0px 15px 0px;}
.want_invest .form-group .icon{ position:absolute; top: 12px; left: 0; font-size: 30px; color: #999;}
.want_invest input[type="text"]{ width:100%; border: 0; border-bottom: 1px solid #ddd; padding: 10px 0px 8px 25px; color: #ff4081; font-size: 30px; font-family: 'latobold'; transition: 0.4s;}
.want_invest input[type="text"]:focus{ outline:0; border-color: #333;}
.save_price{ color:#3f51b5; font-size: 22px; font-family: 'latobold';}
.funds_desc{ padding:20px 0px; border-top:1px solid #ddd; margin: 15px 0px;}
.funds_desc p{ font-size:14px; color: #333; margin-bottom: 8px;}
.funds_desc p img{ float:left; margin-right: 5px; height:15px; margin-top: 2px; }
.funds_desc p a{ color:#0073cf;}
.replace_fund li{ padding-left:30px;}
.replace_fund li label.radio_box{ position:absolute; left: 0; top: 50%; margin-top: -24px;}
.invest_amonut{ text-align:center; padding: 30px 15px;}
.invest_amonut h5{ font-size:18px; color: #666666; font-family: 'latosemibold';}
.invest_amonut h3{color: #3f51b5; font-size: 32px; font-family: 'latobold';}


@media(min-width:768px) and (max-width:1024px){
	
}

@media(max-width:767px){
	.funds_list li .col-3{ padding-right:0px;}
}
	
@media(max-width:400px){
	.login_social a{ font-size:16px; padding: 0px 18px;}
	.login_social a .fab{ font-size:20px;}
	.menu_section ul li a{ padding-left: 50px; font-size: 16px;} 
	.login_container{ padding:30px 15px;}
	.main_content{ padding: 20px 0px;}
	.signup_box h3{ font-size:20px;}
	.signup_box p{ font-size:15px;}
	.title_main{ font-size:20px;}
	.funds_list li .col-3{ padding-right:0px;}
	.category_item span{ font-size:18px; font-family: 'latomedium';}
	.funds_list li .btn_sec a{ padding:0px 18px;}
}


